@import "tailwindcss";

@font-face{
font-family:"Railway";
src:url("./assets/fonts/Raleway-Regular.ttf") format("truetype")
}
@font-face{
font-family:"gotham";
src:url("./assets/fonts/Gotham\ Medium.otf")
}
@theme{
  --color-primary: #3E2723;
  --color-secondary: #D7CCC8;
  --color-text:#FDFBF7;
  --color-background:#ffffff;
  --color-overlay:#000000;
  --color-button:#8D6E63;
  --color-p:#5D4037;

  --color-footer:#FDFBF7;

  --font-sans:'Inter',sans-serif;
--font-Railway:"Railway",sans-serif;
--font-gotham:"gotham",sans-serif;

}
