@import "tailwindcss";

@theme{
  --color-primary: #3E2723;
  --color-secondary: #D7CCC8;
  --color-text:#FDFBF7;
  --color-background:#ffffff;
  --color-overlay:#000000;
  --color-button:#8D6E63;

  --font-sans:'Inter',sans-serif;

}
